.env
chainsettle_env/
*.ipynb
*.egg-info
*.pyc
__pycache__/
*.pyo
*.pyd
notes/deploy.txt
backend/settlements
backend/arweave/arweave_keyfile.json
backend/solidity/keystores
backend/solidity/keystores/