<!DOCTYPE html>
<html>
  <head>
    <title>ChainSettle - Link Your Bank</title>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  </head>
  <body>
    <h2>Link your bank account</h2>
    <button id="link-button">Connect Bank via Plaid</button>

    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const linkToken = urlParams.get("token");
      const settlement_type = urlParams.get("settlement_type");
      const settlement_id = urlParams.get('settlement_id')
      const network = urlParams.get('network')
      const u_metadata = urlParams.get('metadata')
      const amount = urlParams.get('amount')
      const notify_email = urlParams.get('notify_email')
      const payer = urlParams.get('payer')

      if (!linkToken) {
        alert("Missing link token");
        throw new Error("Missing link token in URL");
      }

      const handler = Plaid.create({
        token: linkToken,
        onSuccess: function(public_token, metadata) {
          fetch("/api/register_settlement", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              public_token: public_token,
              settlement_type: settlement_type,
              settlement_id: settlement_id,
              network: network,
              metadata:u_metadata,
              amount:amount,
              notify_email:notify_email,
              payer:payer
            })
          })
          .then(res => res.json())
          .then(data => {
            alert("Account linked!");
          });
        },
        onExit: function(err, metadata) {
          console.log("User exited Plaid Link", err, metadata);
        }
      });

      document.getElementById("link-button").onclick = function() {
        handler.open();
      };
    </script>
  </body>
</html>
